html,
body,
#root {
  height: 100% !important;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

article{
  padding: 0.25em;
  background-color: transparent;

}
.ebx-result{
  border: 0.25px solid #cadce3 !important;
}
.ebx-empathy-x__main{
  padding: 1em;
}
.ebx-empathy-x__header{
  padding: 1.5em;
}

aside{
  padding: 0em 1em 0em 3em;
 }


.ebx-empathy-x__header{
  margin-top: 8em !important;
  padding-left: 8em !important;
  padding-right: 8em !important;

}
.ebx-search-box
{
  padding: 1em;

  background: transparent;
  overflow: visible;
  height: 48px;
  border-bottom: 1px solid #7b8c93;
  width: calc(100% - 88px);
  position: relative;
  text-align: left;
  display: none;
 }
.ebx-close {
  padding: 1em;
}

.ebx-close .ebx-cross{
  width: 54px !important;
  height: 54px !important;
  color: #000000;
  position: absolute;
  top: 9.5em;
  right: 2em;

}

.ebx-empathy-x input{
  object-fit: contain;
  font-family: "Montserrat", sans-serif !important;
  font-size: 30px !important;

  line-height: 1.27 !important;
  letter-spacing: normal;
  color: #2c4653;
}
.ebx-result-title
{
  color: #7b8c93;
  font-size: 15px !important;
  font-weight: 100 !important;
  line-height: 50px !important;
   overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.ebx-empathize-panel{
    padding: 1em;
    padding-left: 2em;
    align-content: center;
  font-size: 20px !important;
  text-transform: uppercase;
  color: #243d48 !important;

  font-stretch: normal;
    font-style: normal;
    line-height: 0.39;
    letter-spacing: normal;
    border: none !important;

 }

.ebx-empathize-panel ul{
   padding: 1em;
}
.ebx-empathize-panel li{
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    font-size: 18px !important;
    line-height: 1.06 !important;
    opacity: 0.6;
    font-weight: normal;


}
.ebx-search-box__input
{
  font-family: "Montserrat", sans-serif !important;

  line-height: 1.27 !important;
  letter-spacing: normal;
  color: #213642 !important;
}


.ebx-search-box__input .ebx-search-box__input-suggestion
{
  font-weight: 500 !important;
}
.ebx-search-box__input .ebx-search-box__input-query
{
  font-weight: 100 !important;
  color: #5a889d !important;
}
.ebx-result-price{
  color: #7b8c93;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
}

.ebx-result-link{
  padding: 0.5em;
}

.ebx-side-panel__header .ebx-event-button{


  padding: 0.25em;
  border: 0.5px solid #dae0e6 !important;
  border-radius: 20px !important;
  color: #dae0e6;
}

.ebx-facet__title
{
  border-bottom: 2px solid #dae0e6 !important;
  color: #2c4653;
  text-transform: uppercase;
  font-size: 24px !important;
  font-weight: 500 ;
  font-family: "Montserrat", sans-serif !important;
  line-height: 2;

}
.ebx-filter__label{
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px !important;
  color: #2c4653;
  opacity: 0.6;
  }
.ebx-filter__label:hover{
  opacity: 1;
}
.ebx-filter__label[aria-checked='true']{
  opacity: 1;
}

.ebx-filter__show-more{
  padding-top: 0.55em !important;
  color: #243d48;
  font-size: 18px;

}

.ebx-search-icon{
  display:none !important;
}
.ebx-search-box__clear-button{
  display: none;
}
.ebx-facet__filters{
  padding-top: 0.75em; 
}
.ebx-filter__checkbox-icon {
  display: none !important;
}
.ebx-results-number{
  line-height: 70px;
}
.ebx-columns-picker{
  padding: 2em 4em 1em 2em;

}
.ebx-dropdown{
  padding: 2em 20em 1em 1em;

}
* {
  box-sizing: border-box;
}

body {
  color: #666;
}

p,
a,
div {
  font-size: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

a svg-inline--fa {
  margin-right: 5px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  padding: 0;
  margin: 0;
}
footer a {
  font-family: "Montserrat", sans-serif;
  color: #6cc1d1;
  text-decoration: underline;
}

footer li{
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.18px;
  color: #405273;
}
input[type='text'] {
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  width: 100%;
  padding: 7px 10px;
}

.link,
.link-button {
  color: #53b9c9;
  font-family: 'Montserrat', sans-serif;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  padding: 0;
}

.link:active,
.link-button:active,
.link:hover,
.link-button:hover {
  text-decoration: none;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  text-align: left;
  margin: 12px 0;
}

.form-group:first-child {
  margin-top: 0;
}

.form-group > label {
  color: #53b9c9;
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.75px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
}

.form-group > input {
  height: 38px;
  width: 100%;
  margin: 10px 0;
  border-radius: 4px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}

form-group .select-role {
  margin: 10px 0;
}

/* Overriding the center-align property from the styleguide */
.solid-provider-select {
  text-align: left !important;
}

.solid-provider-select .option {
  padding-left: 10px !important;
}
button{

  color: #354866;
  border: 1px solid  transparent !important;
  border-radius: 0px !important;
  cursor: pointer;
  font-size: .8em;
  padding: 0.5em 1em;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  outline: none;
  text-transform: uppercase;
  background-color: transparent !important;

}
.addButton{
  border: 1px solid  transparent !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

.addButton:hover {
  background: rgba(145,194,250,0.8) !important;
  color: #fbf8ff !important;
}
button:hover {
  border: 1px solid  #DAE0E6 !important;
  color: #25354a !important;
}
button:focus {
  border: 1px solid   rgba(145,194,250,0.8)  !important;
  background-color: #25354a !important;
}
button:active{
  border: 1px solid  #DAE0E6 !important;
  background-color: #25354a !important;
  color: white !important;
}

